* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    text-align: center;
}

table {
    width: 70%;
    height: 30%;
    margin: 10px auto;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.double {
    height: 100px;
}

.single {
    height: 50px;
}

tr:nth-child(1) {
    background-color: #358f8f;
    color: #d2b8e9;
}

tr:nth-child(2) {
    background-color: #f5f535;
    color: #138431;
}

tr:nth-child(1):hover {
    background-color: #d2b8e9;
    color: #358f8f;
}

tr:nth-child(2):hover {
    background-color: #138431;
    color: #f5f535;
}

.image {
    margin: 10px auto;
    height: 120px;
    width: 120px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    opacity: 0.5;
}

.pos1-position {
    position: relative;
    top: 0px;
    right: -30px;
    background-color: red;
}

.pos2-position {
    position: relative;
    top: -20px;
    right: -10px;
    background-color: blue;
}

.pos3-position {
    position: relative;
    top: -82px;
    right: -50px;
    background-color: green;
}

.pos1-transform {
    transform: translate(30px, 0);
    background-color: red;
}

.pos2-transform {
    transform: translate(10px, -20px);
    background-color: blue;
}

.pos3-transform {
    transform: translate(50px, -82px);
    background-color: green;
}